.openerp .test{
    width: 1000px;
}
td{
    padding-left: 10px;
    height :30px
}
.o_form_view .o_group.o_inner_group > tbody > tr > td {
    vertical-align: middle;
}
.o_form_view .o_form_field {
    display: inline-block;
    margin-bottom: 0px;
}
td.columnDivider {
    text-align: left;
    background-color:#d7f6cc!important;
    vertical-align:middle;
}
tr.rowDivider{
    border-bottom: 1px solid #DEDEDE;
}

.invoices [data-id="name"]{width: 1000px;}
.class_education [data-id="month_start"]{width: 1cm;}
.class_education [data-id="year_start"]{width: 2.8cm;}
.class_education [data-id="month_end"]{width: 1cm;}
.class_education [data-id="year_end"]{width: 2.8cm;}
.class_education [data-id="certificate"]{width: 3cm;}
.class_education [data-id="graduated"]{width: 2.8cm;}
.class_education [data-id="school_type"]{width: 3cm;}
.class_education [data-field="company"]{width: 5cm;}
.table_divider {border-collapse: collapse;}
.table_divider td{ border-bottom: 1px solid #DEDEDE; }
td.noDivider {
    border-bottom: 0px solid #DEDEDE;
}
.mytable > tbody > tr > td {
    border-bottom: 1px solid #DEDEDE;
}
.class_promotion [data-id="day"]{width: 1cm;}
.class_promotion [data-id="month"]{width: 1cm;}
.class_promotion [data-id="year"]{width: 2cm;}
.o_form_view .o_form_field .o_form_input_dropdown{
    display:inline-block;
    width:80%
}
.btn_toggle{
    color: white;
    background-color: #b71c14;
    border-color: #b71c14;
}
.targets {width: 400px;}
.class_education [data-id="company"]{width: 2cm;}
.o_list_view [data-id="color_notice"]{width: 1cm;}
.table-bordered td {
    border: 1px solid black;
}
.table-bordered th {
    background-color:#d7f6cc!important;
    border: 1px solid black;
.o_field_widget{
    margin:0px;
    background-color: transparent;
}
.o_form_view.o_form_nosheet {
    background-color: transparent;
}
td.tts {
    text-align: center;
    vertical-align: inherit;
    background-color:#d7f6cc!important;
}
.o_field_widget{
    margin:0px;
    background-color: transparent;
}
.o_form_view.o_form_nosheet {
    background-color: transparent;
}
.column{
    background-color:#fffde0!important;
    min-width:50%;
    padding-right:10px;
}
.o_field_widget input.o_input {
    border-color: black;
    background-color: transparent;
}
.o_list_view > thead > tr > th.o_column_sortable:not(:empty) {
    background-color: #d7f6cc!important;
    border: 1px solid black;
    text-align:center;
    vertical-align: middle;
}
.number{
    display:inline-block;
    width:85%;
    text-align:right;
}
.number2{
    display:inline-block;
    width:75%;
    text-align:right;
}