.openerp .test{
width: 1000px;
}

td{
padding-left: 10px;
height :30px
}

.o_form_view .o_group.o_inner_group > tbody > tr > td {
vertical-align: middle;
}

.o_form_view .o_form_field {
display: inline-block;
margin-bottom: 0px;
}

td.columnDivider {
border-right: 1px solid #DEDEDE;
text-align: right;

}
td.columnDivider01 {
text-align: right;

}
tr.rowDivider{
border-bottom: 1px solid #DEDEDE;
}

div.column{
}

.invoices [data-id="name"]{width: 1000px;}

.class_education [data-id="month_start"]{width: 1cm;}
.class_education [data-id="year_start"]{width: 2.8cm;}
.class_education [data-id="month_end"]{width: 1cm;}
.class_education [data-id="year_end"]{width: 2.8cm;}
.class_education [data-id="certificate"]{width: 3cm;}
.class_education [data-id="graduated"]{width: 2.8cm;}
.class_education [data-id="school_type"]{width: 3cm;}
.class_education [data-field="company"]{width: 5cm;}


.table_divider {border-collapse: collapse;}
.table_divider td{ border-bottom: 1px solid #DEDEDE; }

td.noDivider {
border-bottom: 0px solid #DEDEDE;
}

.mytable > tbody > tr > td {
border-bottom: 1px solid #DEDEDE;
}

.class_promotion [data-id="day"]{width: 1cm;}
.class_promotion [data-id="month"]{width: 1cm;}
.class_promotion [data-id="year"]{width: 2cm;}

.o_form_view .o_form_field .o_form_input_dropdown{
display:inline-block;
width:80%
}

.btn_toggle{
color: white;
background-color: #b71c14;
border-color: #b71c14;
}

.targets {width: 400px;}


.class_education [data-id="company"]{width: 2cm;}

.o_list_view [data-id="color_notice"]{width: 1cm;}

.class_education.table-responsive {
margin-right: 100px;
margin-left: 100px;
align:center;
}
.tab-content {
width: 1000px;
align-content: center;
margin-left: 10%;
}
.tts{
background-color: #382c2c61
}

.o_form_view .o_form_label {
margin: 0 5px 0 0;
font-size: 1.08333333rem;
line-height: 1.5;
font-weight:normal;
}
body {
margin: 0;
font-size: 1.08333333rem;
font-weight: 400;
line-height: 1.5;
text-align: left;
background-color: #f0eeee;
}

.o_form_view .o_group {
display: inline-block;
width: 100%;