td{
padding-left: 10px;
height :30px
}
.o_form_view .o_group.o_inner_group > tbody > tr > td {
vertical-align: middle;
}
.o_form_view .o_form_field {
display: inline-block;
margin-bottom: 0px;
}
td.columnDivider {
text-align: left;
background-color:#d7f6cc!important;
vertical-align:middle;
}
tr.rowDivider{
border-bottom: 1px solid #DEDEDE;
}
td.noDivider {
border-bottom: 0px solid #DEDEDE;
}
.mytable > tbody > tr > td {
border-bottom: 1px solid #DEDEDE;
}
.o_form_view .o_form_field .o_form_input_dropdown{
display:inline-block;
width:80%
}
.btn_toggle{
color: white;
background-color: #b71c14;
border-color: #b71c14;
}
.targets {width: 400px;}
.class_education [data-id="company"]{width: 2cm;}
.o_list_view [data-id="color_notice"]{width: 1cm;}
.table-bordered td {
border: 1px solid black;
padding: 0px;
}
.table-bordered th {
background-color:#d7f6cc!important;
border: 1px solid black;
}
.o_field_widget{
margin:0px;
background-color: transparent;
}
.o_form_view.o_form_nosheet {
background-color: transparent;
}
.tts {
text-align: center;
vertical-align: inherit;
background-color:#d7f6cc!important;
}
.o_field_widget{
margin:0px;
background-color: transparent;
}
.o_form_view.o_form_nosheet {
background-color: transparent;
}
div.column{
padding-left:5px;
background-color:blanchedalmond!important;
min-width:50%;
padding-right:10px;
}
.o_field_widget input.o_input {
border: antiquewhite;
background-color: transparent;
}
.o_list_view > thead > tr > th.o_column_sortable:not(:empty) {
background-color: #d7f6cc!important;
border: 1px solid black;
text-align:center;
vertical-align: middle;
}
.color_tts{
background-color: #ffdd9c
}
.bgcolor{
background-color: #ffff003b;;
}
.table .table {
background-color: #f8f9fa
}

div.column_import{
background-color:blanchedalmond!important;
width:100%;
height:100%;
}

.table-bordered {
border: 1px solid #dee2e6;
margin-bottom: 0px;
}
